<ng-container *transloco="let t">
  <div class="card dashboard-card-wrapper">
    @if (votingThemeItems) {
      <div class="big-header" style="margin-bottom: 10px;">
        {{t('VotingTheme')}} - {{votingThemeItems[0].votingThemeDisplayName}}
        <div class="bold-header-separator"></div>
      </div>
      <div style="display: flex; flex-direction: column; position: relative; z-index: 2;">
        <div style="display: flex; justify-content: space-between;">
        </div>
        @for (votingThemeItem of votingThemeItems; track $index) {
          <div [class]="'transparent-card'" style="padding: 18px; margin: 0px;">
            <div class="text-wrapper">
              <div class="header" style="margin-bottom: 10px; display: flex; justify-content: space-between; position: relative;">
                <div>
                  <div>{{votingThemeItem.name}}</div>
                  <div class="header-separator"></div>
                </div>
              </div>
              <div>
                {{votingThemeItem.description}}
              </div>
              <div style="display: flex; gap: 10px; margin-top: 18px;">
                @for (voteType of voteTypes; track $index) {
                  <p-button 
                  (onClick)="vote(votingThemeItem, voteType)"
                  label=" "
                  [icon]="voteType.icon" 
                  [pTooltip]="voteType.name" 
                  tooltipPosition="bottom"
                  [outlined]="true"
                  [badge]="getVotingNumber(votingThemeItem, voteType)"
                  badgeClass="white-color primary-color-background"
                  ></p-button>
                }
              </div>
            </div>
          </div>
        }
      </div>
      <div class="card-overflow-icon">
        <i class="pi pi-hammer"></i>
      </div>
    }
    @else {
      <!-- TODO FT: Add skeleton -->
    }
  </div>
</ng-container>