<ng-container *transloco="let t">
    <spider-card [title]="t('PartnerNotification')" icon="pi pi-bell">
        <spider-panel [isFirstMultiplePanel]="true" [showPanelHeader]="false">
            <panel-body>
                <div class="grid">
                    <div class="col-12">
                        <spider-checkbox [control]="isMarkedAsRead" [label]="t('NotifyUsers')" [initializeToFalse]="false" [fakeLabel]="false"></spider-checkbox>
                    </div>
                </div>
            </panel-body>
        </spider-panel>
        
        <notification-base-details
        [formGroup]="formGroup" 
        [notificationFormGroup]="notificationFormGroup" 
        (onSave)="onSave()"
        [isLastMultiplePanel]="true"
        [additionalButtons]="additionalButtons"
        />

    </spider-card>
</ng-container>