<ng-container *transloco="let t">
  <div style="display: flex; gap: 28px; height: calc(82vh); overflow-y: auto;">
    <div class="card" style="width: 350px; margin-bottom: 0;">
      @for (user of users; track $index) {
        <div class="hover-card" (click)="openMessages(user.id)">
          {{user.email}}
        </div>
      }
    </div>
    <div class="card" style="width: 100%; display: flex; flex-direction: column; justify-content: space-between;">
      <div style="overflow-y: auto; display: flex; flex-direction: column-reverse;">
        @for (message of messages; track $index) {
          <div style="margin-bottom: 10px;">
            {{message.senderDisplayName}}: {{message.messageDisplayName}}
          </div>
        }
      </div>
      <div style="width: 100%;">
          <spiderly-textbox [control]="messageFormControl" [showButton]="true" buttonIcon="pi pi-send" (onButtonClick)="sendMessage()"></spiderly-textbox>
      </div>
    </div>
  </div>
</ng-container>