<ng-container *transloco="let t">
    <user-extended-base-details
    [panelTitle]="userExtendedFormGroup.getRawValue().email"
    panelIcon="pi pi-user"
    [formGroup]="formGroup" 
    [userExtendedFormGroup]="userExtendedFormGroup" 
    (onSave)="onSave()" 
    [showIsDisabledForUserExtended]="showIsDisabledControl"
    [showHasLoggedInWithExternalProviderForUserExtended]="showHasLoggedInWithExternalProvider"
    [authorizedForSaveObservable]="authorizedForSaveObservable"
    (onIsAuthorizedForSaveChange)="isAuthorizedForSaveChange($event)"
    ></user-extended-base-details>
</ng-container>
